.tbar{
    display: block; 
    position: absolute; 
    left: 100px;
     top: 10px; 
     width: 198px; 
     height: 32px; 
     background: rgba(255, 255, 255, 0.75); 
     border-radius: 5px;
}
.tbar img{
    position: absolute; left: 10px; top: 4px; pointer-events: auto; cursor: pointer; width: 24px; height: 24px;
}


/* HeroesComponent's private CSS styles */
.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .regs {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    /* width: 15em; */
    width:100%;
  }
  .regs li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    /* margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px; */
  }
  .regs li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .regs li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .regs .text {
    position: relative;
    top: -3px;
  }
  .regs .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
